{% extends 'base/base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% block custom_css %}
<style>
	.content-container {
		< !-- scroll-snap-type: y mandatory;
		-->overflow-y: scroll;
		height: 100vh;
	}

	.content {
		scroll-snap-align: start;
		margin: 0;
		padding: 0;
		height: 100vh;
		/* Full viewport height */
		background-image: url("{% static 'img/bg.jpeg' %}");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: rgba(0, 0, 0, 0.8);
		background-blend-mode: overlay;
	}
</style>
{% endblock %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<!-- <div class="content-container"> -->
<div class="content flex flex-col justify-center items-left p-16 text-left">
	<!-- <img src="{% static 'img/logo_rm.png' %}" alt="Shuttle Smart Vision" width="350px"> -->
	<div class="flex flex-col py-4 ml-32">
		<h2 class="text-6xl font-bold my-4">Cricket Analytics<br> </h2>
		<hr class="w-[285px] bg-primary h-[8px]">
		<h3 class="text-xl">
			Comprehensive solutions for data and video analysis to capture, evaluate, strategize, and share insights
			into every aspect of team and player performance, including detailed ball dynamics.</h3>
	</div>
	<a href="#analysis1" class="btn btn-secondary mt-4 ml-32 max-w-[200px]">
		Get Started
	</a>

</div>

</div>

<!-- </div> -->
{% endblock %}

{% block custom_js %}
<!-- <script src="https://vjs.zencdn.net/8.0.4/video.js"></script> -->
{% endblock %}
