{% extends 'base/base.html' %}
{% load static %}
{% load static tailwind_tags %}
{% block custom_css %}
<style>
.content-container {
	< !-- scroll-snap-type: y mandatory;
	-->overflow-y: scroll;
height: 100vh;
}

	.content {
		scroll-snap-align: start;
		margin: 0;
		padding: 0;
		height: 100vh;
		/* Full viewport height */
		background-image: url("{% static 'img/tbg.jpeg' %}");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: rgba(0, 0, 0, 0.8);
		background-blend-mode: overlay;
	}
</style>
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- <div class="content-container"> -->
<div class="content flex flex-col justify-center items-left p-16 text-left">
	<!-- <img src="{% static 'img/logo_rm.png' %}" alt="Shuttle Smart Vision" width="350px"> -->
	<div class="flex flex-col py-4 ml-32">
		<h2 class="text-6xl font-bold my-4">Tennis Insights </h2>
		<hr class="w-[285px] bg-primary h-[8px]">
		<h3 class="text-xl">
			Advanced analytics for tennis performance, capturing and analyzing every shot, movement, and strategy
            to elevate your game.</h3>
	</div>
	<a href="#analysis1" class="btn btn-secondary mt-4 ml-32 max-w-[200px]">
		Get Started
	</a>

</div>
<div class="content flex flex-col justify-center items-left p-16 text-left">
	<!-- <img src="{% static 'img/logo_rm.png' %}" alt="Shuttle Smart Vision" width="350px"> -->
	<div class="flex flex-col py-4 ml-32 max-w-[50%]">
		<h2 class="text-4xl font-bold my-4">Tennis Performance Analysis Tool</h2>
		<hr class="w-[285px] bg-primary h-[8px]">
		<p class="text-xl py-2">
            Our cutting-edge system tracks every aspect of your tennis game, providing real-time insights into
            ball trajectory, player movements, and shot placement.
		</p><br>
		<h3 class="text-3xl font-bold">
			Tailored for Tennis
		</h3>
		<p class="py-2">
		    We analyze ball tracking, player keypoints, and net clearances, delivering precise metrics to refine
            your technique and outsmart opponents.


		</p><br>
		<h3 class="text-3xl font-bold">
			Comprehensive Performance Insights
		</h3>
		<p class="py-2">
            Integrating video and data, our platform offers actionable insights into every serve, rally, and
            movement, optimizing your performance on the court.
		</p>
	</div>

</div>
<div class="content flex flex-wrap justify-center items-center p-10 text-left" id="analysis1">
	<div class="flex">
		<video class="z-10" controls preload="auto" style="width: 575px;">
			<source src="{% static "vid/clip0480.mp4" %}" type="video/mp4">
			<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="https://videojs.com/html5-video-support/" target="_blank">
				supports HTML5 video
			</a>
			</p>
		</video>
	</div>
	<div class="flex flex-col justify-around py-4 ml-16 max-w-[50%]">
		<h2 class="text-4xl font-bold mb-4">Ball Trajectory and Bounce Analysis</h2>
		<hr class="w-[185px] bg-primary h-[8px] my-4">
		<p class="mt-4">
            Track every shot with our Ball Trajectory and Bounce Analysis tool. Monitor metrics like speed, spin,
            and bounce points (p1bb, p2bb), visualized with a red rectangle around the ball in each frame. Understand
            shot dynamics from contact (p1cp, p2cp) to bounce.</p>
		<p class="my-2">
            Gain insights into net clearances (p1nc, p2nc) and optimize your strategy with data-driven feedback,
            enhancing your performance and anticipation on the court.</p>

	</div>


</div>
<div class="content flex flex-wrap justify-around items-center p-2 text-left">

	<div class="flex my-auto">
		<video class="z-10" controls preload="auto" style="width: 600px;">
			<source src="{% static "vid/output_with_data480.mp4" %}" type="video/mp4">
			<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="https://videojs.com/html5-video-support/" target="_blank">
				supports HTML5 video
			</a>
			</p>
		</video>
	</div>
	<div class="flex flex-col justify-around ml-2 max-w-[50%]">
		<h2 class="text-4xl font-bold mb-4">Speed Analysis</h2>
		<hr class="w-[185px] bg-primary h-[8px] my-2">
		<h3 class="text-2xl my-4">Power and Precision</h3>
		<p class="my-4">Measure the velocity of every shot with our Speed Analysis tool. From powerful serves to rally shots,
            track ball speed with a red bounding box following the ball in every frame, helping you refine your
            tactics and training.</p>

	</div>
</div>
<div class="content flex flex-wrap justify-around items-center p-2 text-left">
	<div class="flex flex-col justify-around items-center max-w-[10%]">
		<img src="{% static "img/frame19.jpg" %}" width="500px" class="my-2">
		<img src="{% static "img/frame37.jpg" %}" width="500px" class="my-2">
	</div>
	<div class="flex flex-col justify-around ml-2 max-w-[50%]">
		<h2 class="text-4xl font-bold my-2">Player Biomechanics Analysis</h2>
		<hr class="w-[185px] bg-primary h-[8px]">
		<h3 class="text-2xl">Unlock the next level of performance enhancement</h3>
		<p class="my-2">
		 Analyze player movements with keypoint detection, tracking joints like elbows and knees. Bounding boxes
         highlight players and the ball, with contact points (p1cp, p2cp) measured for precision.
		</p>
		<ul class="my-4 list-disc ml-8">
            <li><b>Joint Angles: </b> Optimize stroke mechanics.</li>
            <li><b>Footwork: </b> Enhance court coverage.</li>
            <li><b>Racket Position: </b> Improve shot execution.</li>
        </ul>
		<p class="my-2">This visual captures real-time insights, overlaying biomechanical data on the bowler's image
		to provide
		actionable feedback. Coaches and players can use this tool to refine technique, prevent injuries, and
		maximize performance during training and matches.
		Empower your team with data-driven insights to push boundaries and gain a competitive edge in the game.
		</p>

	</div>
</div>
<div class="content flex flex-wrap justify-center items-center p-16 text-left">
	<div class="flex my-auto">
	<div class="flex flex-col justify-around items-center max-w-[10%]">
		
		<img src="{% static "img/2d_spatial_points.png" %}" width="600px" class="my-2">
	</div>
		<!--<video class="z-10" controls preload="auto" style="width: 300px;">
			<source src="{% static "vid/pv23.mp4" %}" type="video/mp4">
			
			
			<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="https://videojs.com/html5-video-support/" target="_blank">
				supports HTML5 video
			</a>
			</p>
		</video>-->
	</div>
	<div class="flex flex-col justify-around py-4 ml-16 max-w-[50%]">
		<h2 class="text-4xl font-bold my-2">3D Court Grid Mapping
		</h2>
		<hr class="w-[185px] bg-primary h-[8px] my-2">
		<h3 class="text-2xl"></h3>
		<p class="my-2"> Our advanced 3D Court Grid Mapping overlays a detailed grid across the entire tennis court up to the net level, enabling precise spatial analysis of every play. This grid facilitates accurate tracking of ball trajectories, bounce points (p1bb, p2bb), contact points (p1cp, p2cp), and net clearances (p1nc, p2nc), providing a comprehensive view of the game dynamics.
		</p>
		<!--<ul class="my-4 list-disc ml-8">
			<li>Service Box</li>
			<li>Baseline</li>
			<li>Net Area</li>
			<li>Short-Pitched</li>
		</ul>-->

		
		<p class="my-2"> Combined with player keypoint detection and bounding boxes, the grid helps analyze movements and shot placements with unparalleled precision. Whether you're studying a serve's trajectory, a rally's intensity, or a player's court coverage, this visualization empowers coaches and players with actionable insights to elevate performance and strategy.
		</p>

	</div>



</div>

<!-- </div> -->
{% endblock %}

{% block custom_js %}
<!-- <script src="https://vjs.zencdn.net/8.0.4/video.js"></script> -->
{% endblock %}
